body {
  background-color: #242424;
  height: 100vh;
  margin: 0 !important;
  width: 100vw;
}

.circle{
  color: rgb(255, 136, 0);
  //text-shadow: 2px 2px rgb(253, 210, 146);
}

.rectangle{
  color: rgb(255, 0, 140);
  //text-shadow: 2px 2px hwb(318 64% 0%);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: radial-gradient(circle at 100% 100%, #3a3a3a 0, #3a3a3a 5px, transparent 5px) 0% 0%/7px 7px no-repeat,
  radial-gradient(circle at 0 100%, #3a3a3a 0, #3a3a3a 5px, transparent 5px) 100% 0%/7px 7px no-repeat,
  radial-gradient(circle at 100% 0, #3a3a3a 0, #3a3a3a 5px, transparent 5px) 0% 100%/7px 7px no-repeat,
  radial-gradient(circle at 0 0, #3a3a3a 0, #3a3a3a 5px, transparent 5px) 100% 100%/7px 7px no-repeat,
  linear-gradient(#3a3a3a, #3a3a3a) 50% 50%/calc(100% - 4px) calc(100% - 14px) no-repeat,
  linear-gradient(#3a3a3a, #3a3a3a) 50% 50%/calc(100% - 14px) calc(100% - 4px) no-repeat,
  linear-gradient(90deg, rgb(255,136,0) 0%, rgb(216,29,144) 50%, rgb(255,136,0) 100%);
  border-radius: 7px;  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

